<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.friendly.walking">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <permission android:name="com.friendly.walking.permission" />

    <application
        android:name=".ApplicationPool"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAumDY-OHDxWEBAaFJLGsN9KzdO-NS9i7E" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name="com.friendly.walking.main.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.friendly.walking.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.friendly.walking.Landing.NotificationLanding"
            android:theme="@style/AppTheme.AppBaseThemeTranslucent"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""/>

        <activity
            android:name="com.friendly.walking.activity.LoginActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.friendly.walking.activity.SignUpActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.friendly.walking.activity.SignUpPetActivity"
            android:screenOrientation="portrait"/>


        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name="com.friendly.walking.activity.GoogleMapActivity" />

        <activity android:name="com.friendly.walking.activity.ProfileActivity" />

        <activity android:name="com.friendly.walking.activity.ChangePasswordActivity" />

        <activity android:name="com.friendly.walking.activity.KakaoSignupActivity" />



        //////////////////// service ////////////////////
        <service android:name="com.friendly.walking.service.MainService"/>
        <service android:name="com.friendly.walking.geofence.GeofenceTransitionsIntentService" />


        //////////////////// receiver ////////////////////
        <receiver android:name=".receiver.LoginOutReceiver" >

            <intent-filter>
                <action android:name="com.friendly.walking.BROAD_CAST_LOGIN"/>
                <action android:name="com.friendly.walking.BROAD_CAST_LOGOUT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
