<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.friendly.walking">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <permission android:name="com.friendly.walking.permission" />

    <application
        android:name=".ApplicationPool"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAumDY-OHDxWEBAaFJLGsN9KzdO-NS9i7E" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name="com.friendly.walking.main.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.friendly.walking.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.friendly.walking.Landing.NotificationLanding"
            android:theme="@style/AppTheme.AppBaseThemeTranslucent"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""/>

        <activity
            android:name="com.friendly.walking.activity.LoginActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.friendly.walking.activity.SignUpActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.friendly.walking.activity.SignUpPetActivity"
            android:screenOrientation="portrait"/>


        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name="com.friendly.walking.activity.GoogleMapActivity" />

        <activity android:name="com.friendly.walking.activity.ProfileActivity" />

        <activity android:name="com.friendly.walking.activity.ChangePasswordActivity" />

        <activity android:name="com.friendly.walking.activity.KakaoSignupActivity" />

        <activity android:name="com.friendly.walking.activity.UserInfoActivity" />

        <activity android:name="com.friendly.walking.activity.PetInfoActivity" />

        <activity android:name="com.friendly.walking.activity.PieChartActivity" />


        //////////////////// service ////////////////////
        <service android:name="com.friendly.walking.service.MainService"/>
        <service android:name="com.friendly.walking.geofence.GeofenceTransitionsIntentService" />
        <service
            android:name="com.friendly.walking.service.FirebaseMessagingWalkingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.friendly.walking.service.FirebaseInstanceIDWalkingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.friendly.walking.service.JobWalkingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>


        //////////////////// receiver ////////////////////
        <receiver android:name=".receiver.LoginOutReceiver" >

            <intent-filter>
                <action android:name="com.friendly.walking.BROAD_CAST_LOGIN"/>
                <action android:name="com.friendly.walking.BROAD_CAST_LOGOUT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
