<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.friendly.walking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAumDY-OHDxWEBAaFJLGsN9KzdO-NS9i7E" />

        <activity android:name="com.friendly.walking.main.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.friendly.walking.main.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.friendly.walking.landing.NotificationSomething"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""/>

        <activity
            android:name="com.friendly.walking.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.friendly.walking.activity.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.friendly.walking.activity.SignUpPetActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="com.friendly.walking.service.MainService" />
    </application>

</manifest>
